@charset "utf-8";
/* CSS Document */

body{
	background-color:#AAFDC5;
}
table.navibar {
	top: 0px;
	position: fixed;
	background-color:#FFF;
}
a.navigationlink {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
	color:#000;
	background-color:#FFF;
	margin:0;
	padding:0;
	width:150px;
	height:30px;
	text-align:center;
	list-style-type:none;
	font-size:19px;
	font-family: Calibri;
}
a:hover {
    background-color:#CCC;
    color: #000;
}
table.quote{
	padding-left:30px;
}
table.main{
	background-color:#FFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:15px;
}
td.title {
	font-family:"Times New Roman", Times, serif;
	font-size: 30px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color:#000;
	text-decoration: none;
}
td.content {
	font-family:"Times New Roman", Times, serif;
	font-size:17px;
	font-style:normal;
	line-height:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	color:#000;
	text-decoration:none;
}